.card, .btn, .form-control { border-radius: 0; }

@import url('https://fonts.googleapis.com/css?family=Alatsi:400|Lato:400,700&display=swap');
h1, h2, h3, h4, h5, h6, a.navbar-brand{
    font-family: 'Alatsi', sans-serif;
}
p, div{
    font-family: 'Lato', sans-serif;
    /* font-weight: 700; */
}

p, span, a, label, button, input, div, button{
    font-size: 0.8rem;
}

.container43{
    width: 1024px;
    margin: auto;
}

.text-shadow{
    text-shadow: 1px 1px 10px #555;
}

#navbar{
    background: rgba(181, 64, 73, 0.8);
    backdrop-filter: saturate(100%) blur(20px);
    position: fixed;
    width: 100%;
    z-index: 1030;
    margin: 0;
    padding: 0;
    top: 0;
    border-bottom: 1px solid #DDD;
}

.topbar{
    display: none;
    margin-top: 3.5rem;
}

.id-card{
    text-align: left;
    color: white;
    padding: 1rem;
    /* background: linear-gradient(330deg, #FFC371, #FF5F6D); */
    background: linear-gradient(150deg, #FF5F6D, #f9d423);
    /* background: linear-gradient(330deg, #ffe259, #FF5F6D);  */
    /* background: linear-gradient(330deg, #fbd786, #f7797d); */
    height: 12rem;
    width: 19.5rem;
    border-radius: 0.5rem;
    margin: 0 auto 0 auto;
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.44);
}

.img-middle{
    top: -50%;
    bottom: -50%;
}

.z-front{
    z-index: 9999;
    top: 10px;
}

.sticky-center{
    width: 100%;
}

#hero{
    background: #FF5F6D;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(330deg, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    padding-top: 10vh;
}

#headline-container{
    float: right;
    font-size: 4vw;
    margin: 15vh 10vw 10vw auto;
    color: white;
}

#headline{
    font-size: 5vw;
}

#img-hero{
    float: left;
    width: 100%;
}

#navbar-buffer{
    height: 3.5rem;
}

#JournalBlockOptionDesktop{
    display: block;
}
#JournalBlockOptionMobile{
    display: none;
}
.form-account{
    display: block;
    margin: auto;
    width: 18rem;
    /* width: 80%; */
}
.dashboard-item{
    width: 35rem;
}

.list-group{
    border-radius: 5rem;
}

.tools-card{
    width: 100%;
    margin-right: 0;
    padding: 0.5rem 0 0 0.5rem;
    display: inline-block;
}

.tools-item{
    width: 97%;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    float: left;
    display: inline;
    height: auto;
}

a.tools-link{
    float: right;    
    color: grey;
    text-decoration: none;
}

.card-img-top{
    border-radius: 0.4rem 0.4rem 0 0;
}

.card-style{
    width: auto;
    border-radius: 0.5rem;
}

.event-poster{
    width: 30vw;
    height: 30vw;
}

.event-img-container{
    height: 100%;
}

@media (max-width: 991.98px) {
.topbar{
    height: 40vh;
    display: block;
}

.container43{
    width: 100%;
}

.tools-item{
    width: 32%;
}

.event-poster{
    width: 100%;
    height: 40vw;
    overflow: hidden;
}

.event-img-container{
    height: auto;
}

.sticky-center{
    width: 40vw;
}

}

@media (max-width: 767.98px) {
    .tools-item{
        width: 48%;
    }

    #headline-container{
        text-align: center;
        margin: 0 0 10vw 0;
        float: none;
    }

    #img-hero{
        margin: 5vw 10% 0 10%;
        width: 80%;
    }
}

@media (max-width: 576.98px) {
    .tools-item{
        width: 98%;
    }
    .topbar{
        height: 91.5vh;
        display: block;
    }
    #JournalBlockOptionDesktop{
        display: none;
    }
    #JournalBlockOptionMobile{
        display: block;
    }
       
}

@media (max-width: 1024.98px) {
    .container43{
        width: 100%;
        margin: auto;
    }

    
}